---
layout: default
title: "zehengl"
---

<div class="container">

  {% include google_custom_engine.html %}
  
  <h1>Posts</h1>
  
  
    {% for post in site.posts %}
    <div class="row">
      <div class="col-lg-2">
        <p>{{ post.date | date: "%b %-d, %Y" }}</p>
      </div>

         <div class="col-lg-8">
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        </div>

    </div>
    {% endfor %}
 

  <p align="center">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
