---
layout: default
title: "zehengl"
---

<div class="container">

  {% include google_custom_engine.html %}
  
  <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><h2>Date</h2></th>
        <th><h2>Title</h2></th>
      </tr>
    </thead>
    {% for post in site.posts %}
      <tr>
        <td>
          <p>{{ post.date | date: "%b %d, %Y" }}</p>
        </td>

        <td>
          <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
        </td>
      </tr>
    {% endfor %}
  </table>

</div>