<footer class="footer">

  <div align="center">
    {% if site.web_username %}
      {% include icon-web.html username=site.web_username %}
    {% endif %}
    {% if site.wordpress_username %}
      {% include icon-wordpress.html username=site.wordpress_username %}
    {% endif %}
    {% if site.github_username %}
      {% include icon-github.html username=site.github_username %}
    {% endif %}
    {% if site.twitter_username %}
      {% include icon-twitter.html username=site.twitter_username %}
    {% endif %}
    {% if site.instagram_username %}
      {% include icon-instagram.html username=site.instagram_username %}
    {% endif %}      
    {% if site.facebook_username %}
      {% include icon-facebook.html username=site.facebook_username %}
    {% endif %}
    {% if site.linkedin_username %}
      {% include icon-linkedin.html username=site.linkedin_username %}
    {% endif %}
    {% if site.youtube_username %}
      {% include icon-youtube.html username=site.youtube_username %}
    {% endif %}
    {% if site.medium_username %}
      {% include icon-medium.html username=site.medium_username %}
    {% endif %}
    {% if site.qq_username %}
      {% include icon-qq.html username=site.qq_username %}
    {% endif %}      
    {% if site.wechat_username %}
      {% include icon-wechat.html username=site.wechat_username %}
    {% endif %}
    {% if site.skype_username %}
      {% include icon-skype.html username=site.skype_username %}
    {% endif %}
  </div> 

  <div align="center">
    <p>{{ site.foot_note }}</p>
    <p><a href="#">Back to top</a></p>
  </div> 
  
</footer>


