<header class="mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">{{ site.title }}</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{ site.url }}">Home</a>
      <a class="mdl-navigation__link" href="{{ "/blog" | prepend: site.url }}">Blog</a>    
      <a class="mdl-navigation__link" href="{{ "/contact" | prepend: site.url }}">Contact</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{ site.title }}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ site.url }}">Home</a>
    <a class="mdl-navigation__link" href="{{ "/blog" | prepend: site.url }}">Blog</a>        
    <a class="mdl-navigation__link" href="{{ "/contact" | prepend: site.url }}">Contact</a>
  </nav>
</div>
