<!-- Navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{ site.author }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for my_page in site.html_pages %}
          {% if my_page.title != "404 Page Not Found" and my_page.title != "xml" and my_page.title != "zehengl" %}
            <li>
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}        
      </ul>      
    </div>
  </div>
</nav>

<!-- Header -->
<div class="container">
  <div class="jumbotron">
    <h1>{{ site.title }}</h1> 
    <p>{{ site.head_note }}</p> 
  </div>
</div>
