<div class="content mdl-color--grey-100 mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
  <div style="float:left">
    {% include button_facebook.html %}
  </div>
  <div style="float:left;margin-left:4px;" >
    {% include button_twitter.html %}
  </div>
  <div style="float:left;margin-left:4px;" >
    {% include button_linkedin.html %}
  </div>
  <div style="float:left;margin-left:4px;" >
    {% include button_google.html %}
  </div>
  {% include comments.html %}
</div>
