.content {
    border-radius: 20px; 
    padding: 80px 56px;
}

.my-card-media {
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.paginator-left {
    position: absolute;
    left: 35%;
}

.paginator-right {
    position: absolute;
    right: 35%;
}

.paginator-link {
    text-decoration: none!important;
}
