---
layout: default
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1661872720696931";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="content mdl-color--grey-100 mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <div>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <p>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%b %d, %Y" }}
          </time>
          {% if page.author %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">
                by {{ page.author }}
              </span>
            </span>
          {% endif %}
        </p>
      </div>
    </header>
    <div itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</div>

{% include share.html %}
